<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Конструктор теста</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900">

<!--Header-->
<header class="flex justify-between items-center px-6 py-4 bg-gray-100">
    <div class="font-bold text-lg">Logo</div>
    <nav class="space-x-4">
        <a href="/" class="text-gray-600 hover:text-black">Home</a>
    </nav>
    <a href="/logout" class="px-4 py-1 border border-gray-300 rounded hover:bg-gray-200 inline-block text-center">
        LOG OUT
    </a>
</header>

<!--Main-->
<main class="max-w-4xl mx-auto py-8 px-4">
    <form method="post" th:action="@{/test/constructor}" th:object="${test}">
        <div class="text-center mb-6">
            <!--            Название теста-->
            <input th:field="*{testName}" placeholder="Название теста"
                   class="text-3xl font-bold text-center border-b-2 border-dashed focus:outline-none" required />
        </div>

        <div class="text-center mb-4">
            <p>количество вопросов:
                <span id="count-of-questions">1</span>
            </p>
            <p>примерное время прохождения теста:
                <span id="duration-minutes">1</span> мин.
            </p>
        </div>

        <!--        Additional materials-->
<!--        <div class="mb-6">-->
<!--            <p class="text-center font-medium mb-2">для прохождения теста необходимо изучить дополнительный материал:</p>-->
<!--            <div id="materials" class="space-y-2">-->
<!--                <div class="flex items-center border rounded px-4 py-2">-->
<!--                    <input type="text" name="materials" placeholder="название теор материала"-->
<!--                           class="flex-1 focus:outline-none border-b border-dashed" />-->
<!--                    <button type="button" class="ml-2 text-red-500">×</button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button type="button" onclick="addMaterial()" class="mt-2 text-blue-500">+ Добавить материал</button>-->
<!--        </div>-->
        <div class="text-center mb-6">
            <p class="text-center mb-2">для прохождения теста необходимо изучить дополнительный материал:</p>
            <button id="customSelectBtn" type="button"
                    class="flex justify-between items-center w-full p-2 border rounded-md shadow-sm bg-white text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                <span id="selectedValue">Выберите...</span>
                <svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </button>

            <ul id="customSelectOptions"
                class="absolute z-10 mt-1 w-full bg-white border rounded-md shadow-lg max-h-60 overflow-auto hidden text-sm">
                <li th:each="mat : ${materials}"
                    th:data-id="${mat.id}"
                    th:data-name="${mat.fileName}"
                    class="px-3 py-2 hover:bg-indigo-100 cursor-pointer">
                    <span th:text="${mat.fileName}"></span>
                </li>
            </ul>

            <button type="button" onclick="addMaterial()" class="mt-2 text-blue-500">+ Добавить материал</button>
            <!-- Hidden input to hold selected value -->
            <input type="hidden" name="materialId" id="selectedMaterialId">
        </div>

        <!--        Questions-->
        <div class="my-8 text-center">
            <button type="button" onclick="addQuestion()" class="bg-gray-200 px-6 py-2 rounded hover:bg-gray-300">
                Добавить вопрос
            </button>
        </div>

        <!--        Questions-->
        <div id="questions" class="space-y-8">

        </div>
        <div id="form-error" class="text-red-600 text-sm mb-4 text-center hidden"></div>
        <div class="text-center mt-8">
            <button type="submit" class="bg-gray-200 px-6 py-2 rounded hover:bg-gray-300">Сохранить</button>
        </div>
    </form>
</main>

<!--Footer-->
<footer class="flex justify-between items-center px-6 py-4 bg-gray-100 mt-12">
    <div class="font-bold">Logo</div>
    <nav class="space-x-4">
        <a href="/" class="text-gray-600 hover:text-black">Home</a>
    </nav>
    <select class="border border-gray-300 rounded px-2 py-1">
        <option>Dropdown</option>
    </select>
</footer>

<script>
    let questionIndex = 0;

    function addMaterial() {
        const div = document.createElement("div");
        div.className = "flex items-center border rounded px-4 py-2 mt-2";
        div.innerHTML = `
        <input type="text" name="materials" placeholder="название теор материала"
            class="flex-1 focus:outline-none border-b border-dashed" />
        <button type="button" class="ml-2 text-red-500" onclick="this.parentElement.remove()">×</button>`;
        document.getElementById("materials").appendChild(div);
    }

    function addQuestion() {
        const qDiv = document.createElement("div");
        qDiv.className = "border p-4 rounded";
        qDiv.innerHTML = `
        <div class="flex items-center space-x-4 mb-2">
            <input type="text" name="questions[${questionIndex}].questionName" placeholder="Название вопроса"
                 class="flex-1 border-b border-dashed focus:outline-none" required />
            <button type="button" class="text-red-500" onclick="removeQuestion(this)"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="14" height="14" viewBox="0 0 256 256" xml:space="preserve">
            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                \t<path d="M 67.692 90 H 22.308 c -3.042 0 -5.518 -2.476 -5.518 -5.518 v -61 c 0 -1.104 0.896 -2 2 -2 h 52.42 c 1.104 0 2 0.896 2 2 v 61 C 73.21 87.524 70.734 90 67.692 90 z M 20.79 25.482 v 59 c 0 0.837 0.681 1.518 1.518 1.518 h 45.385 c 0.837 0 1.518 -0.681 1.518 -1.518 v -59 H 20.79 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                \t<path d="M 73.196 25.482 H 16.804 c -3.042 0 -5.518 -2.475 -5.518 -5.518 v -4.335 c 0 -3.042 2.475 -5.518 5.518 -5.518 h 56.393 c 3.042 0 5.518 2.475 5.518 5.518 v 4.335 C 78.714 23.007 76.238 25.482 73.196 25.482 z M 16.804 14.112 c -0.837 0 -1.518 0.681 -1.518 1.518 v 4.335 c 0 0.837 0.681 1.518 1.518 1.518 h 56.393 c 0.837 0 1.518 -0.681 1.518 -1.518 v -4.335 c 0 -0.837 -0.681 -1.518 -1.518 -1.518 H 16.804 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                \t<path d="M 57.197 14.112 H 32.803 c -1.104 0 -2 -0.896 -2 -2 V 5.518 C 30.803 2.476 33.278 0 36.321 0 h 17.358 c 3.043 0 5.519 2.476 5.519 5.518 v 6.594 C 59.197 13.216 58.302 14.112 57.197 14.112 z M 34.803 10.112 h 20.395 V 5.518 C 55.197 4.681 54.516 4 53.679 4 H 36.321 c -0.837 0 -1.518 0.681 -1.518 1.518 V 10.112 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                \t<path d="M 45 78.624 c -1.104 0 -2 -0.896 -2 -2 V 34.856 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 41.768 C 47 77.729 46.104 78.624 45 78.624 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                \t<path d="M 58.222 78.624 c -1.104 0 -2 -0.896 -2 -2 V 34.856 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 41.768 C 60.222 77.729 59.326 78.624 58.222 78.624 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                \t<path d="M 31.779 78.624 c -1.104 0 -2 -0.896 -2 -2 V 34.856 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 41.768 C 33.779 77.729 32.883 78.624 31.779 78.624 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
            </g></svg>
            </button>
            <button type="button" onclick="addAnswer(this)" data-qidx="${questionIndex}"
                  class="text-sm text-blue-500 border px-2 py-1 rounded">
                Добавить вариант ответа
            </button>
        </div>
        <div id="answers-${questionIndex}" class="grid grid-cols-2 gap-2">
            <div class="flex items-center space-x-2">
                <input type="radio" name="questions[${questionIndex}].rightAnswer" value="0" required/>
                <input type="text" name="questions[${questionIndex}].answers[0].value"
                   placeholder="Вариант ответа" class="flex-1 border-b border-dashed focus:outline-none" required />
            </div>
            <div class="flex items-center space-x-2">
                <input type="radio" name="questions[${questionIndex}].rightAnswer" value="1" required/>
                <input type="text" name="questions[${questionIndex}].answers[1].value"
                   placeholder="Вариант ответа" class="flex-1 border-b border-dashed focus:outline-none" required />
            </div>
        </div>`;
        document.getElementById("questions").appendChild(qDiv);
        questionIndex++;

        updateDurationAndCounter();
    }

    function updateDurationAndCounter() {
        const questionCount = document.querySelectorAll("#questions > .border").length;
        document.getElementById("duration-minutes").textContent = questionCount;
        document.getElementById("count-of-questions").textContent = questionCount;
    }

    function removeQuestion(button) {
        button.closest(".border").remove();
        updateDurationAndCounter();
    }

    function addAnswer(button) {
        const qIdx = button.dataset.qidx;
        const container = document.getElementById(`answers-${qIdx}`);
        const count = container.children.length;

        const answerDiv = document.createElement("div");
        answerDiv.className = "flex items-center space-x-2";

        answerDiv.innerHTML = `
        <input type="radio" name="questions[${qIdx}].rightAnswer" value="${count}" required/>
        <input type="text" name="questions[${qIdx}].answers[${count}].value"
            placeholder="Вариант ответа"
            class="flex-1 border-b border-dashed focus:outline-none" required />
        <button type="button" class="text-red-500" onclick="this.parentElement.remove()"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="14" height="14" viewBox="0 0 256 256" xml:space="preserve">
        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
            \t<path d="M 67.692 90 H 22.308 c -3.042 0 -5.518 -2.476 -5.518 -5.518 v -61 c 0 -1.104 0.896 -2 2 -2 h 52.42 c 1.104 0 2 0.896 2 2 v 61 C 73.21 87.524 70.734 90 67.692 90 z M 20.79 25.482 v 59 c 0 0.837 0.681 1.518 1.518 1.518 h 45.385 c 0.837 0 1.518 -0.681 1.518 -1.518 v -59 H 20.79 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
            \t<path d="M 73.196 25.482 H 16.804 c -3.042 0 -5.518 -2.475 -5.518 -5.518 v -4.335 c 0 -3.042 2.475 -5.518 5.518 -5.518 h 56.393 c 3.042 0 5.518 2.475 5.518 5.518 v 4.335 C 78.714 23.007 76.238 25.482 73.196 25.482 z M 16.804 14.112 c -0.837 0 -1.518 0.681 -1.518 1.518 v 4.335 c 0 0.837 0.681 1.518 1.518 1.518 h 56.393 c 0.837 0 1.518 -0.681 1.518 -1.518 v -4.335 c 0 -0.837 -0.681 -1.518 -1.518 -1.518 H 16.804 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
            \t<path d="M 57.197 14.112 H 32.803 c -1.104 0 -2 -0.896 -2 -2 V 5.518 C 30.803 2.476 33.278 0 36.321 0 h 17.358 c 3.043 0 5.519 2.476 5.519 5.518 v 6.594 C 59.197 13.216 58.302 14.112 57.197 14.112 z M 34.803 10.112 h 20.395 V 5.518 C 55.197 4.681 54.516 4 53.679 4 H 36.321 c -0.837 0 -1.518 0.681 -1.518 1.518 V 10.112 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
            \t<path d="M 45 78.624 c -1.104 0 -2 -0.896 -2 -2 V 34.856 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 41.768 C 47 77.729 46.104 78.624 45 78.624 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
            \t<path d="M 58.222 78.624 c -1.104 0 -2 -0.896 -2 -2 V 34.856 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 41.768 C 60.222 77.729 59.326 78.624 58.222 78.624 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
            \t<path d="M 31.779 78.624 c -1.104 0 -2 -0.896 -2 -2 V 34.856 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 v 41.768 C 33.779 77.729 32.883 78.624 31.779 78.624 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
        </g></svg>
        </button>`;

        container.appendChild(answerDiv);
    }

    const btn = document.getElementById('customSelectBtn');
    const options = document.getElementById('customSelectOptions');
    const selectedValue = document.getElementById('selectedValue');
    const selectedInput = document.getElementById('selectedMaterialId');

    btn.addEventListener('click', () => {
        options.classList.toggle('hidden');
    });

    options.addEventListener('click', (e) => {
        if (e.target.tagName === 'LI') {
            const name = e.target.dataset.name;
            const id = e.target.dataset.id;
            selectedValue.textContent = name;
            selectedInput.value = id;
            options.classList.add('hidden');
        }
    });

    document.addEventListener('click', (e) => {
        if (!btn.contains(e.target) && !options.contains(e.target)) {
            options.classList.add('hidden');
        }
    });
</script>
</body>
</html>
